<div class="buttons__wrapper">
  <button type="button" class="buttons__button buttons__button--analyse">
    ANALYSE
  </button>
  <button type="button" class="buttons__button buttons__button--search">
    SEARCH
  </button>
</div>
