<form class="dropZone__wrapper">
  <p>Drag & drop file here</p>
  <p>or</p>
  <label for="file" class="dropZone__button">
    <span class="fa fa-upload dropZone__icon"></span>
    <span class="dropZone__choose" role="button" tabindex="0"
      >Choose a file</span
    >
    <input
      id="file"
      type="file"
      name="file"
      class="dropZone__input hidden"
      accept="pdf,application/pdf"
    />
  </label>
  <div class="dropZone__info">
    <p class="dropZone__file"></p>
    <span
      class="dropZone__clear hidden"
      title="Remove file"
      role="button"
      tabindex="0"
      >✖</span
    >
  </div>
</form>
