<form class="form">
  <div id="drop">
    <p>Drag & drop file here</p>
    <p>or</p>
    <label for="file" class="file">
      <span class="fa fa-upload"></span>
      <span class="file-display" role="button" tabindex="0">Choose a file</span>
      <input
        type="file"
        name="file"
        class="upload"
        accept="pdf,application/pdf"
      />
    </label>
    <div class="file-info">
      <p class="file-name"></p>
      <span class="clear hidden" title="Remove file" role="button" tabindex="0"
        >✖</span
      >
    </div>
  </div>
  <div class="buttons">
    <button type="submit" class="button analyse-button">ANALYSE</button>
    <button type="button" class="button search-button">SEARCH</button>
  </div>
</form>
