<div class="resultsModal__wrapper hidden">
  <div class="resultsModal__content">
    <h1 class="resultsModal__title">RESULTS</h1>
    <ul class="resultsModal__list">
      <li>
        <span class="resultsModal__key">Number of pages:</span>
        <span class="resultsModal__pages"></span>
      </li>

      <li>
        <span class="resultsModal__key">Number of words:</span>
        <span class="resultsModal__words"></span>
      </li>
      <li>
        <span class="resultsModal__key">Most frequent words:</span>
      </li>
    </ul>
    <%-include('frequentWords'); %>
    <button class="resultsModal__back">Back</button>
  </div>
</div>
