<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free PDF analysis tool" />
    <meta name="keywords" content="PDF" />
    <meta name="author" content="Tom McAndrew" />
    <title>PDF Analyser</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//db.onlinewebfonts.com/c/30a71dcf9a1c39558ca4e97c92a4b2fa?family=Noe+Display+Bold"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//db.onlinewebfonts.com/c/2a6c168c7d603dbbce4a785ed6a1f536?family=Noe+Display+Medium"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <main><%- body -%></main>
  </body>
</html>
