/*

global 
header
image
dropZone 
resultsModal
frequentWords
buttons 
loader
media queries

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noe Display Medium";
  color: #090909;
  background: #b3e9c7;
  height: 100%;
}
.header__title {
  font-size: 3rem;
  text-align: center;
  margin-top: 5vh;
}
.image__wrapper {
  position: absolute;
  width: 20vw;
  left: 3rem;
  top: 2rem;
  display: none;
}
.image__img {
  width: 100%;
  transform: rotate(10deg);
}
.dropZone__wrapper {
  border: 5px dashed rgb(248, 241, 241);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 35vh;
  width: 90%;
  padding: 1rem 0;
  margin: 0 auto;
  transition: all 50ms;
  margin-top: 10vh;
  font-size: 1.3rem;
}
.dropZone__wrapper.over {
  border: 5px dashed #888;
}
.dropZone__form:hover {
  border: 5px dashed #888;
}
.dropZone__input.hidden {
  display: none;
}
.dropZone__button {
  background-color: #9f52df;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 200ms;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  width: 60%;
  position: relative;
  justify-content: center;
}
.dropZone__button:hover {
  background-color: #893aca;
}
.dropZone__icon {
  margin-right: 0.8rem;
  color: rgb(248, 241, 241);
}
.dropZone__choose {
  color: rgb(248, 241, 241);
  white-space: nowrap;
}
.dropZone__clear {
  color: red;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 0.1rem;
  cursor: pointer;
}
.dropZone__clear.hidden {
  display: none;
}
.dropZone__info {
  display: flex;
  min-height: 30px;
  margin-top: 0.5rem;
  width: 80%;
  justify-content: center;
}
.dropZone__file {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resultsModal__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultsModal__wrapper.hidden {
  display: none;
}
.resultsModal__content {
  width: 90%;
  min-height: 50vh;
  background-color: rgb(248, 241, 241);
  padding: 1rem 0.5rem;
  border-radius: 4px;
}
.resultsModal__title {
  text-align: center;
  font-size: 1.5rem;
}
.resultsModal__list {
  list-style: none;
}
.resultsModal__list li {
  margin: 0.5rem 0;
}
.resultsModal__back {
  display: block;
  margin: 2rem auto 1rem auto;
  background-color: #9f52df;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  transition: all 200ms;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 1.3rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.frequentWords__list {
  list-style: none;
}
.frequentWords__list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.frequentWords__list li {
  border-radius: 6px;
  padding: 0.2rem 0.6rem;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  background-color: #ff56f1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  align-items: center;
  margin: 0.5rem 0;
}
.resultsModal__key {
  font-weight: bold;
}
.frequentWords__word {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.frequentWords__count {
  font-size: 0.8rem;
  color: #090909;
}
.buttons__wrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-top: 8vh;
}
.buttons__button {
  background-color: #f747cb;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms;
  border-radius: 25px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.1rem;
}
.buttons__button:hover {
  background-color: #d42caa;
}
.loader__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.loader__wrapper.hidden {
  display: none;
}
.loader__content {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load 1.1s infinite ease;
  animation: load 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* TABLET */
@media screen and (min-width: 600px) {
  .header__title {
    font-size: 5rem;
  }
  .dropZone__wrapper {
    width: 75%;
    font-size: 2rem;
  }
  .dropZone__button {
    width: 50%;
  }
  .dropZone__clear {
    margin-left: 1rem;
  }
  .buttons__wrapper {
    width: 70%;
  }
  .buttons__button {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
  }
}

/* LAPTOP */
@media screen and (min-width: 1000px) {
  .header__title {
    font-size: 3rem;
  }
  .image__wrapper {
    display: block;
  }
  .dropZone__wrapper {
    width: 30%;
    font-size: 1.3rem;
  }
  .dropZone__buttons {
    width: 25%;
  }
  .dropZone__clear {
    margin-left: 1rem;
  }
  .buttons__wrapper {
    width: 30%;
  }
  .buttons__button {
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
  }
}
